[submodule "semusings.dev"]
	path = semusings.dev
	url = git@github.com:semusings/semusings.dev.git
	branch = main
[submodule "pasal"]
	path = pasal
	url = git@github.com:semusings/pasal.git
	branch = main
